/* -------------- Colors used -------------- */
:root {
  --text-color: #2b2b2b;
  --primary-color: #803df9;
  --secondary-color: #600cf7;
  --complementary-color: #b700ff;
}

/* --------------------- Main styling element ----------------------------- */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line-height to 1.6 */
  color: var(--text-color);
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

/* Anchor Styling */
a {
  color: var(--primary-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  text-decoration: none; /* No underlining when hovering over a link */
}

a:active {
  color: #07613c;
}

/* Box Styling: setting the default width of an element to include the padding and the border via the box-sizing property and border-box value */
* {
  box-sizing: border-box;
}

/* ------------------------ Header Section ---------------------------------- */

.logo {
  width: 100px;
  height: auto;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header_divider {
  border-bottom: 1px solid var(--secondary-color);
  margin: 0 0 100px;
}

.page-header_item {
  display: 0 1 200px;
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* ----------------------------- Body section ------------------------------------ */

.profil {
  max-width: 700px;
  margin: 0 auto;
}

.profil_portrait {
  float: left;
  border-radius: 50%;
  width: 250px;
  height: auto;
  margin-right: 40px;
}

/* ------------------------------ Footer Section -------------------------------- */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media_logo {
  width: 25px;
  height: auto;
}

/* ------------------------------ About Page ------------------------------------ */
.about {
  text-align: center;
}

.skills {
  text-align: center;
}

.table-expierence {
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
}

.my-cv {
  text-align: center;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 5%;
  border-bottom: 2px solid  var(--complementary-color); /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  transition: opacity 0.9s;
}

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 80%;
}

.button:active {
  background-color: var(--complementary-color);
}

/* ---------- Animation ------------ */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 3s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0 0);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ----------------------------------- Work Page ---------------------------------------- */

.work-intro {
  text-align: center;
}

/* start grid fallback */
.grid_item {
  display: inline-block;
  width: 33%;
} /* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .grid_item {
    background-color: #f4f0fc;
    width: auto;
    padding: 15px;
    margin: 0;
  }

  .grid_item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

/* ------------------------------- Media Quierres ------------------------------------ */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

@media all and (max-width: 750px) {
  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
